//Body
$body_font_color: #636b6f;
$title_size: 84px;
$title_margin_bottom: 30px; 
$title_full_height: 80vh;

//Nav
$nav_padding: 0 25px;
$nav_font_size: 12px;
$nav_font_weight: 600;
$nav_letter_spacing: .1rem;

//Copyright Bottom
$bottom_margin: 20px;

//Dropdown
$dropdown_divider: 1px solid #e9ecef;
$dropdown_divider_margin: .5rem 0;

//Wikitable
$wikitable_bg_color: #f8f9fa;
$wikitable_border: 1px solid #a2a9b1;
$selected_row_color: #bbf;
$table_font_color: #222;
$table_cell_padding: 0.2em 0.4em;
$table_margin: 1em 0;

//Trendline
$trandline_title_color: #777;

//Contact_us
$map_height: 400px;
$contact_us_margin: 0.5em 0;
$contact_us_font_size: 40px;
$contact_us_padding: 15px;
$details_title_size: 20px;
$details_content_size: 15px;
$details_content_margin: 0.5em 2em;