.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: $accordion_option_margin;

  .title {
    font-size: $accordion_title_font_size;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }

  .toggle-accordion {
    float: right;
    font-size: $default_font_size;
    color: $body_font_color;
  }
}