html, body {
    color: $body_font_color;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    height: 100%;

    .full-height {
        height: $title_full_height;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .content {
        text-align: center;
        min-height: 100%;
    }

    .title {
        font-size: $title_size;
    }

    .links > a {
        color: $body_font_color;
        padding: $nav_padding;
        font-size: $nav_font_size;
        font-weight: $nav_font_weight;
        letter-spacing: $nav_letter_spacing;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: $title_margin_bottom;
    }

    .container {
        position: relative;
        margin: 0 auto;
        height: auto !important;
        height: 100%; 
        min-height: 100%;
    }

    .footer {
        position: absolute; 
        width: 100%;
        bottom: 0;
    }

    .col-center-block{  
        margin-left: auto;  
        margin-right: auto;  
    }  

}


