/* User BMI, BFP table*/
.wikitable {
	background-color: #f8f9fa;
	color: #222;
	margin: 1em 0;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;

		td, th {
		display: table-cell;
		vertical-align: inherit;
		
		}

		tr > th, td {
			border: 1px solid #a2a9b1;
			padding: 0.2em 0.4em;
		}
	}
}

/* Google Trendline Error*/
#google-visualization-errors-all-1, #google-visualization-errors-all-3 {
	display: none !important;	
}