/* User BMI, BFP table*/
.wikitable {
	background-color: $wikitable-bg-color;
	color: $table_font_color;
	margin: $table_margin;
	border: $wikitable_border;
	border-collapse: collapse;

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;

		td, th {
		display: table-cell;
		vertical-align: inherit;
		
		}

		tr > th, td {
			border: $wikitable_border;
			padding: $table_cell_padding;
		}
	}
}

/* Change the color in the wikitable */
.selected-row{
	background-color: $selected_row_color;
}

/* Google Trendline Error*/
#google-visualization-errors-all-1, #google-visualization-errors-all-3 {
	display: none !important;
}
