.one-third {
	width: 33.3% !important;
}

.two-thirds {
	width: 66.6% !important;
}

.wikitable {
	background-color: #f8f9fa;
	color: #222;
	margin: 1em 0;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;

		td, th {
		display: table-cell;
		vertical-align: inherit;
		
		}

		tr > th, td {
			border: 1px solid #a2a9b1;
			padding: 0.2em 0.4em;
		}
	}
}