footer {

	.content {
		position: absolute;
		width: 100%;
		bottom: 0;
		background-color: $footer_background_color;
		overflow: hidden;
		text-align: center;

		.footer-copyright {
			bottom-margin: $bottom_margin;
			height: $footer_height;
		}
	}
}
